.nav-item{
    display: flex;
    width: 20px;
}
.nav-item-dropdown1{
    left: 20px;
}
.nav-item-dropdown2{
    left: 50px;
}
.nav-item-dropdown3{
    left: 70px;
}
.Input{
    display:inline-flex;
}
.btn btn-primary{
    left: 70px;
}