body{
    background: white;
    color: #81858a;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
img{
    max-width: 1000%;
}
.utilities {
    width: 33.33%;
}
#utilities-nav{
    display: flex;
    width: 30%;
}
#utilities-nav div{
    float: right;
    margin-left: 200px;
}
#utilities-nav button{
    border: 2px solid #6EA8DD; 
    background-color: #4D8CC7;
    color: #FFFDFA;
    float: right 20px;
    overflow: auto;
    box-sizing: border-box;
}
p{
    font-size: 0.925rem;
}
img{
    max-width: 100%;
}
a:link, a:visited{
    color: #4385c1;
    text-decoration: none;
}
a:hover, a:focus, a:active{
    color: #043867;
}
.branding{
    width: 33.33%;
    float: right;
    color: #9ac9f4;
    text-decoration: none;
}
#quick-nav ul li{
    border-right: 1px solid #9ac9f4;
    float: left;
    list-style: none; /*kiểu danh sách*/
    line-height: 60px;
    margin-right: 5px; /* mép phải*/
    padding-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}
#quick_nav{
    width: 33%;
    margin-left: 15px;
}
#quick-nav li:last-of-type{
    border: none;
}
#quick-nav a:link{
    color: #9ac9f4;
    text-decoration: none;
}
#quick-nav a:hover{
    color: #9ac9f4;
    text-decoration: none;
}
#quick-nav a:focus{
    color: #9ac9f4;
    text-decoration: none;
}
#quick-nav a:active{
    color: #9ac9f4;
    text-decoration: none;
}
.main-nav{
    background-color: #043867;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px red solid;
    float: left;
    width: 100%;
}
.main-nav ul {
    height: 50px;
    width: 95%;
    display: flex;
}
.main-nav ul li {
    width: 20%;
    float: left;
    text-align: center;
    height: 100%;
    padding-top: 15px;
}

.main-nav ul li a {
    
    color: white;
}
.main-nav li:hover{
    background-color: #002342;
    box-sizing: border-box;
}
article{
    background: #4385c1;
    color: white;
    font-size: .9rem ;
    display: flex;
    margin: 0px auto ;
    align-items: center;
}
.hero{
    margin-top: 140px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat; /* nền lặp lai*/
    height: 360px;
    display: flex;
    justify-content: center; /*lề đều nhau*/
    align-items: center; /* sắp xếp tin thẳng hàng*/
    text-align: center;
    margin-bottom: 25px ;  /* lề dưới*/
}

.hero h3{
    position: relative; /*vị trí cân đối*/
    left: -600px;
    color: white;
    font-size: 60px;
}
.hero p{
    position: relative;
    left: -600px;
    color: white;
}
.hero div {
    border-top: 1px solid white; /*đường viền trên*/
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
}
#m1{
    background-color: #7AA120;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
#m1 h3{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 45px;
    float: left; 
}
#m1 p{
    margin: 0px;
    margin-right: 40px;
}
#m2{
    margin-top: 40px;
    display: flex;
}
#m2 div{
    float: left;
    width: 33%;
    height: 300px;
    background-color: #E7ECF0;
    padding: 50px 30px 0px 30px;
    margin-right: 30px;
    color: #757A7F;
}
#m2 div:last-of-type{
    margin-right: 0px;
}
#m2 div a{
    color: #428BCA;
}
#m3{
    margin-top: 40px;
    display: flex;
}
#m3 div{
    float: left;
    width: 33%;
    height: 300px;
    background-color: #E7ECF0;
    padding: 50px 30px 0px 30px;
    margin-right: 30px;
    color: #757A7F;
}
#m3 div:last-of-type{
    margin-right: 0px;
}
#m3 div a{
    color: #428BCA;
}
#m4{
    margin-top: 40px;
    display: flex;
}
#m4 div{
    float: left;
    width: 33%;
    height: 300px;
    background-color: #E7ECF0;
    padding: 50px 30px 0px 30px;
    margin-right: 30px;
    color: #757A7F;
}
#m4 div:last-of-type{
    margin-right: 0px;
}
#m4 div a{
    color: #428BCA;
}
#m5{
    margin-top: 40px;
    display: flex;
}
#m5 div{
    float: left;
    width: 33%;
    height: 300px;
    padding: 50px 30px 0px 30px;
    margin-right: 30px;
}
#m5 div:last-of-type{
    margin-right: 0px;
    border: 30px;
}
#m5 div a{
    color: white;
}
#m6{
    margin-top: 40px;
    display: flex;
}
#m6 div{
    float: left;
    width: 33%;
    height: 300px;
    padding: 50px 30px 0px 30px;
    margin-right: 30px;
}
#m6 div:last-of-type{
    margin-right: 0px;
    border: 30px;
}
#m6 div a{
    color: wheat;
}

.chia3 {
    display: flex;
}

#m2,#m3,#m4,#m5,#m6,section {
    width: 33.33%;
    margin-left: 30px;
    height: 200px;
    background-color: rgb(245,245,245);
}
 section {
     margin-top: 40px;
 }

 .main-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 70px ;
 }

 .main-button a {
    width: 20%;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color:#428bca ;
    box-sizing: border-box;
    border: 1px solid #4f91cd ;
    border-radius: 7px;
 }
 footer{
    background: #34383c;
    color: white;
    padding-bottom: 100px;
}
#full-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#full-nav a:link{
    color: #81858a;
}
#full-nav a:visited{
    color: #81858a;
}
#full-nav h3 a:link{
    color: white;
}
#full-nav h3 a:visited{
    color: white;
}
#full-nav a:hover{
    color: white;
}
#full-nav a:focus{
    color: white;
}
#full-nav a:active{
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: normal;
    display: flex;
}
h2{
    font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}
h4{
    font-size: 1.2rem;
}
/*<br> cách xuống dòng, <hr> để kẻ đường ngăn cách ngang*/

